@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Swift Pizza</h1>
<<<<<<< HEAD
    <p><a href="https://www.pizzahut.co.nz/">The actual link to Swift Pizza (real)</a>.</p>
=======
    <p>
        <a href="https://www.pizzahut.co.nz/">Totally Swift Pizza</a>
    </p>

    <!-- Add an image from a web URL -->
    <img src="https://www.foodandwine.com/thmb/4qg95tjf0mgdHqez5OLLYc0PNT4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/classic-cheese-pizza-FT-RECIPE0422-31a2c938fc2546c9a07b7011658cfd05.jpg" alt="Swift Pizza Image" width="300" height="200">
>>>>>>> 2e06d2832afd7397e6430ccf2ea160954e331bf0
</div>
