@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Swift Pizza</h1>
    <p><a href="https://www.pizzahut.co.nz/">The actual link to Swift Pizza (real)</a>.</p>
</div>
