@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">
        <!-- About Us Dropdown -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="aboutUsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </button>
            <div class="dropdown-menu" aria-labelledby="aboutUsDropdown">
                <!-- Dropdown content goes here -->
                <p class="dropdown-item-text">
                    <!-- About Us content -->
                    Welcome to Swift Pizza, proudly brought to you by the Fleetza Group!<br>
                    At Swift Pizza, we are passionate about delivering mouthwatering pizzas<br>
                    that are not only delicious but also made with the finest ingredients.<br>
                    Our journey started years ago with a simple idea<br>
                    - to create the perfect pizza experience.<br><br>

                    Our skilled chefs craft each pizza with precision,<br>
                    using handpicked, farm-fresh ingredients to ensure<br>
                    every bite is a burst of flavor.<br>
                    From classic Margherita to exotic BBQ chicken,<br>
                    our menu offers a wide variety of flavors to satisfy every pizza lover.<br><br>

                    As part of the Fleetza Group, we are committed to excellence in<br>
                    food quality, customer service, and speedy delivery.<br>
                    Whether you're dining in, taking out, or ordering for delivery,<br>
                    Swift Pizza promises a delightful pizza adventure.<br><br>
                </p>
            </div>
        </div>

        <!-- Content for the "Index" page -->
        <div class="text-center">
            <h1 class="display-4">Swift Pizza</h1>
            <p>
                <a href="https://www.pizzahut.co.nz/">Totally Swift Pizza</a>
            </p>

            <!-- Add an image from a web URL -->
            <img src="https://i.imgur.com/20hpKwF.png" alt="Swift Pizza Image" width="300" height="400">
        </div>
    </main>
</div>
