@page
@model SwiftPizza.Views.Home.LoginModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using System.Threading.Tasks
@using SwiftPizza.Data

<form method="post" asp-controller="Home" asp-action="Login">
    @Html.AntiForgeryToken()

    <!--Section for E-mail input-->
    <div class="form-group">
        <label asp-for="Input_Email"></label>
        <input asp-for="Input_Email" class="form-control" />
        <span asp-validation-for="Input_Email" class="text-danger"></span>
    </div>

    <!--Section for Password input-->
    <div class="form-group">
        <label asp-for="Input_Password"></label>
        <input asp-for="Input_Password" class="form-control" />
        <span asp-validation-for="Input_Password" class="text-danger"></span>
    </div>

    <!--Confirmation button-->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
</form>

