@page
@model SwiftPizza.Views.Home.LoginModel
@{
}

<label for="uname">Username:</label>
<input type="text" id="uname" name="uname">

<label for="pwd">Password:</label>
<input type="text" id="pwd" name="pwd">

<button type="Confirm">Confirm</button>
