@page
@model SwiftPizza.Views.Home.LoginModel

<form method="post" action="/Account/Login">
    @Html.AntiForgeryToken()

    <div>
        <label for="eml">Email:</label>
        <input type="text" id="eml" name="eml">
    </div>

    <div>
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" name="pwd">
    </div>

    <div>
        <button type="submit">Confirm</button>
    </div>
</form>
