@model IEnumerable<SwiftPizza.Models.Pizza>

<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var pizza in Model)
        {
            <tr>
                <td>@pizza.PizzaName</td>
                <td>$@pizza.PizzaPrice</td> 
                <td>@pizza.PizzaDescription</td>
                <td>
                    <img src="@pizza.PizzaImage" alt="@pizza.PizzaName" width="100">
                </td>
            </tr>
        }
    </tbody>
</table>
