/* Transparent Navbar */
.navbar {
    border: none; /* Remove any borders or box shadows */
}

/* Navbar Links Style */
a.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}

/* Active Link Style */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: white;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Box Shadow (If needed) */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Accept Policy Button */
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Style for the Login button */
.login-button {
    background-color: #1b6ec2; /* Change the background color */
    color: white; /* Change the text color */
    border: none; /* Remove the button border */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners if desired */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor on hover */
}

    /* Hover effect for the Login button */
    .login-button:hover {
        background-color: #1861ac; /* Change background color on hover */
    }

/* Sticky Footer Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
    padding-bottom: 0px; /* equal to the height of the footer */
}


