/* site.css */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/* Background colour for Navbar */
.navbar-bg {
    background-color: rgb(204, 85, 0);
}

/* CSS for webpage body */
body {
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}

/* Make text color white for elements in the navbar */
.navbar-bg .navbar-nav .nav-link {
    color: white !important;
}

/* Make text color white for the navbar brand */
.navbar-bg .navbar-brand {
    color: white !important;
}

/* Make text color white for the login button */
.navbar-bg .login-button {
    color: white !important;
}
