/* site.css */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/* Background colour for Navbar */
.navbar-bg {
    background-color: rgb(204, 85, 0);
}

/* CSS for webpage body */
body {
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255); 
}
